.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  color: #ffa500;
  background-color: blue;
}
  
.container {
  color: white;
  background-color: black;
}

#section-1 {
  color: #ffff00;
  background-color: purple;
}

#section-6 {
  color: #ffff00
}
