.lesson  {
  background-color: lemonchiffon;
}

#paragraph-1 {
  color: darkslateblue;
  background-color: white;
}

#paragraph-2 {
  color: darkslateblue;
  background-color: darkorange;
}

#paragraph-3 {
    color: white;
    background-color: darkslateblue;
}

.container {
  background-color: #00f;

}

span{
  background-color: #0f0;

}